.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.refreshContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// Table wrapper
.tableWrapper {
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

// Sticky header styles
.tradesTableWrapper {
  :global(table tbody tr:first-child) {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
