Base border colors for all elements *,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-gray-20, currentcolor);
}

html {
  color-scheme: light dark;
}

/* Border colors - light and dark mode */
* {
  border-color: var(--color-gray-20);
}

body.theme-dark * {
  border-color: var(--color-gray-80);
}

/* Base text and background colors */
html,
body {
  color: var(--color-gray-90);
  background-color: var(--color-gray-10);
}

body.theme-dark html,
body.theme-dark body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-20);
}

.using-mouse * {
  outline: none !important;
}
