.root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
  background: var(--theme-background-input);
  gap: 2rem;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
